# Apache virtual host for site titled 'ramar.local', generated Wed Jun 19 11:58:27 EDT 2019
<VirtualHost *:80>
	# Admin email, Server Name (domain name) and any aliases
	ServerName  ramar.local
	ServerAlias www.ramar.local

	# Index file and Document Root (where the public files are located)
	DocumentRoot htdocs/ramar.local/

	# Custom log file locations
	LogLevel warn
	ErrorLog  htdocs/ramar.local/log/srvError.log
	CustomLog htdocs/ramar.local/log/srvAccess.log combined

	# Auto directory
	DirectoryIndex index.cfm
</VirtualHost>
