/*login.css*/
.container {
	position: relative;
	padding: 10px;
	min-height: 350px;
	height: 50%;
	top: 25%;
	width: 400px;
	min-width: 300px;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-gecko-border-radius: 5px;
	overflow: hidden;
	transition: height 0.3s;
	box-shadow: 5px 5px 5px #eee;
}

.js-minimize {
	min-height: 0px;
	height: 0px;
}

.login-box {
	padding: 10px;
}

.login-box-input {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.login-box-input label ,
.login-box-input input {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	font-size: 1.1em;
}

.login-box-input input {
	font-size: 1.4em;
	padding: 8px;
/*
	padding-top: 5px;
	padding-bottom: 5px;
*/
}

.login-box-header {
	height: 50px;
	width: 100%;
	text-align: center;
}

.login-box-header img {
	height: 100%;	
}

.login-box-header .left {
	float: left;
	width: 50px;
}

.login-box-header .right {
	float: right;
	width: 50px;
}

.login-box button {
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	background-color: #bbb;
	-moz-border-radius: 5px;
	-gecko-border-radius: 5px;
	width: 30%;
	padding: 5px;
	transition: background-color 0.2s;
	display: block;
	margin-bottom: 20px;
}

.login-box button:hover {
	background-color: #eee;
	color: black;
}

.login-box-wrong {
	transition: background-color 0.2s;
}

@keyframes wrong {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.login-wrong {
	animation-name: wrong;
	animation-duration: 0.2s;
}

