/*project styling*/

@keyframes js-purty {
 0% { opacity: 0; }
 100% { opacity: 1; }
}

.js-popup-underlay {
	animation-name: js-purty;
	animation-duration: 1s;
	height: 90%;
	width: 100%;
	position: fixed;
	margin-top: 80px;
	display: block;
	background: rgba( 150, 150, 150, 0.9 );
	z-index: 999999999;
}

.js-popup-underlay img {
	position: relative;
	top: 20%;
	left: 5%;
	width: 90%;
	transition: top 0.1s, left 0.1s;
	margin: 0 auto;
	z-index: 999999;
}

.js-popup .move {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
}

.js-popup {
	position: absolute;
	top: 10%;
	height: 60%;
	max-height: 50%;
	min-height: 200px;
	position: relative;
	width: 75%;
	min-width: 330px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 10px 10px 10px darkgreen;
	padding: 5%;
	padding-top: 60px;
	overflow: auto;
}

.js-popup--header {
	background-color: #eee;
	background-color: rgb( 230, 255, 242 );
	background-color: rgb( 152, 230, 152 );
	background-color: rgb(210,249,228);
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.js-popup--close {
	float: right;
	top: 0px;
	left: -10px;
	font-size: 30px;
	position: relative;
	font-weight: bold;
}

ul.project li.project-li {
	position: relative;	
	height: 100%;
	min-height: 500px;
	overflow: hidden;
	background-color: black;
}

ul.project li.project-li div.backdrop {
	position: absolute;
	overflow: hidden;
	z-index: 9;
	width: 100%;
	top: -10%;
	left: 75px;
	height: 120%;
	transform: rotate(5deg);
	-webkit-backface-visibility: hidden;
	transition: transform 1s;
/*
	filter: blur(0.1rem);
	border-top-left-radius: 60%;
	-moz-border-top-left-radius: 60%;
	-gecko-border-top-left-radius: 60%;
	border-bottom-left-radius: 60%;
	-moz-border-bottom-left-radius: 60%;
	-gecko-border-bottom-left-radius: 60%;
*/
}

ul.project li.project-li div.backdrop img {
	height: 100%;
	/*
	left: 50%;
	position: relative;
	margin: 0 auto;
	*/
	display: block;
}

ul.project li.project-li div.description {
	z-index: 99;
	color: white;
	height: 80%;
	width: 50%;
	position: absolute;	
	display: inline-block;
	top: 0px;
	min-width: 200px;
	/*background: rgba( 0, 0, 0, 0.9 );*/
	background: black;
	padding: 2%;
	font-size: 1.1em;
	line-height: 1.1em;
	transition: opacity 0.2s, left 0.2s;
	/*padding-top: 100px;*/
	/*left: 100px;*/
	top: 80px;
	left: 24%;
	overflow: auto;
}

.js-no-show {
	opacity: 0;
}

ul.project li.project-li div.more {
	position: absolute;
	min-width: 150px;
	width: 20%;
	bottom: 40px;
	font-size: 0.8em;
	left: 10px;
	z-index: 9999;
	display: inline-block;
	height: auto;
}

ul.project li.project-li div.more img {
	/*width: 150px;*/
	height: 40px;
	position: relative;
	margin-bottom: 5px;
	display: block;
}

ul.project li.project-li div.more li {
  background: rgba(0, 7, 17, 0.7);
	transition: background-color 0.3s, color 0.3s;
	width: 65px;
	margin-top: 5px;
	font-family: 'EB Garamond', serif;
	padding: 2px;
}

ul.project li.project-li div.more a {
	color: white;
	text-transform: lowercase;
	text-decoration: none;
}

ul.project li.project-li div.more li:hover {
	color: black;
	background: rgba(255,255,255,0.7);
}

ul.project li.project-li div.more a:hover {
	color: white;
}


ul.project li.project-li div.next {
	position: relative;
	left: 10px;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	transform: rotate(45deg);
	width: 40px;
	height: 40px;
	transition: border 0.2s;
}

ul.project li.project-li div.next:hover {
	border-right: 10px solid green;
	border-bottom: 10px solid green;
}

ul.project li.project-li div.images {
	height: 30px;
	width: auto;
	position: absolute;
	bottom: 30px;
	right: 0;
	text-align: center;
	z-index: 9999;
	background: black;	
	border-bottom-left-radius: 25px;
	-moz-border-bottom-left-radius: 25px;
	-gecko-border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	-moz-border-top-left-radius: 25px;
	-gecko-border-top-left-radius: 25px;
	padding-left: 20px;
	padding-right: 40px;
}

ul.project li.project-li div.images ul li {
	z-index: 9999;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	width: 20px;	
	height: 20px;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-gecko-border-radius: 10px;
	position: relative;
	top: 5px;
}

ul.project li.project-li div.images ul li img {
	width: 120px;
	border: 1px solid black;
	left: -10px;
	top: -10px;
	position: relative;
}

ul.project li.project-li div.description h3,
ul.project li.project-li div.description h4,
ul.project li.project-li div.description h5,
ul.project li.project-li div.description h6 {
	letter-spacing: 1px;
	font-size: 1.8em;
	margin-bottom: 5px;
	font-family: "Arial";
	text-transform: uppercase;	
}

ul.project li.project-li div.description h3{ 
	font-weight: bold;
	font-size:1.6em; 
	letter-spacing: -1px;
	margin-bottom: 20px; 
}

ul.project li.project-li div.description h4 {
	text-decoration: underline;
	letter-spacing: 1px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

ul.project li.project-li div.description h4,
ul.project li.project-li div.description h5,
ul.project li.project-li div.description h6 {
	line-height: 0.8em;
}

ul.project li.project-li div.description h4{ font-size:0.8em; }
ul.project li.project-li div.description h5{ font-size:0.6em; }
ul.project li.project-li div.description h6{ font-size:0.7em; }

ul.project li.project-li div.description p ,
ul.project li.project-li div.description .stack {
	font-weight: 200;
	font-size: 0.9em;
	margin-bottom: 0.9em;	
}

ul.project li.project-li div.description p {
	font-family: 'EB Garamond', serif;
}

ul.project li.project-li div.description .stack li {
	list-style: inside;
	list-style-type: disc;
	font-size:0.7em;
}

ul.project li.project-li div.description a {
	color: white;
	display: inline;
	text-decoration: underline;
}

@media screen and (min-width: 677px) {
	ul.project li.project-li div.description {
		color: white;
		line-height: 1.2em;
		background-color: black;
		top: 0%;
		left: 0%;
		max-width: 300px;
		padding-left: 100px;
		padding-top: 130px;
	}

	ul.project li.project-li div.images {
		text-align: right;
	}

	ul.project li.project-li div.backdrop {
		left: 0px;
		transform: rotate(0deg);
	}

	ul.project li.project-li div.backdrop img {
		position: relative;
		height: 50%;
		top: 25%;
		margin: 0 auto;
	}

	.js-popup-underlay {
		height: 100%;
		width: 100%;
		margin-top: 0px;
	}

	.js-popup-underlay img {
		top: 10%;
		left: 20%;
		width: 60%;
	}
}




/* Track */
/*
.project li ::-webkit-scrollbar { width: 10px; }
.project li ::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-gecko-border-radius: 5px;
}
*/
 
/* Handle */
/*
.project li ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-gecko-border-radius: 5px;
}

.project li ::-webkit-scrollbar-thumb:hover { background: #555; }

.project li h1 {
	font-size: 1.1em;	
	font-weight: bold;
}

.project li .half h1 {
	font-size: 2.0em;	
	font-weight: bold;
	text-align: center;
}
*/


